@charset "UTF-8";
.header {
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: #333;
  /* Porque quero o header um pouco mais pegajoso*/
  height: 12rem;
  /* 0 up and bottom,4.8rem right and left*/
  padding: 1rem 0  0 4.8rem;
  text-transform: uppercase;
  justify-content: space-between; }
  .header__text-box {
    text-align: center; }

:root {
  --color-primary:#292929 ;
  --color-primary-light:#E5E0BC ;
  --color-primary-dark:#323232 ;
  /*h2 fundo

   

    --color-grey-dark-1: #606060;barra h1
    --color-grey-dark-2:#424B51 ;fundo foto
    --color-grey-dark-3: ;
    
    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light:0 2rem 5rem rgba(0,0,0,.06);
    font Montserrat 0#A2968
    unica One 20px 20px 2px distancia #DBD4AF
    texto PT Sans regular 16px 24px alt #606060
    nome Source Sans pro 42px
    */ }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif; }

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif; }

.logo {
  height: 12rem;
  margin: 5rem; }

.container {
  padding: 0 15rem; }

.social-media {
  font-size: 4rem;
  align-items: center;
  display: flex;
  gap: 6rem;
  list-style: none;
  text-decoration: none;
  padding-right: 7rem;
  position: absolute;
  color: #43433e; }
  .social-media .icon {
    color: var(--color-primary--light);
    text-decoration: none;
    position: absolute;
    top: 2rem;
    margin-left: 20rem; }
    .social-media .icon:hover {
      transform: translateY(-3px);
      color: #0d0d0d; }
    .social-media .icon:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 2rem rgba(255, 255, 255, 0.2); }

/* Adicione o estilo de efeito de flash aqui */
.flash-effect {
  animation-name: flash;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  /* Defina como 1 para que o efeito ocorra apenas uma vez */ }

.flash-effect-2 {
  animation-name: flash;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  /* Defina como 1 para que o efeito ocorra apenas uma vez */ }

@keyframes flash {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Adicione estas regras CSS para animar os ícones */
.social-media li {
  opacity: 0;
  transform: translateY(20px);
  /* Inicialmente, mova os ícones para baixo 20px */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; }

.social-media li.active {
  opacity: 1;
  transform: translateY(0);
  /* Quando ativos, mova os ícones para a posição normal */ }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/***************************/
/*FOOTER*/
/***************************/
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee; }

.grid--footer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr; }

.social-icon {
  height: 2.4rem;
  width: 2.4rem; }

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto; }

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem; }

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6; }

.address {
  margin-bottom: 2.4rem; }

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem; }

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s; }

.footer-link:hover,
.footer-link:active {
  color: #555; }

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem; }

.grid-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.grid-3cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.grid-5cols {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr; }

/* About the chef*/
.paragraph {
  font-size: 18px;
  width: 30vw;
  padding-top: 1rem; }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  background-color: #DBD4AF;
  display: inline-block;
  padding: 0.5rem; }

.subheading {
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  letter-spacing: .75px;
  font-family: 'Unica One', sans-serif;
  display: block;
  padding-bottom: 6rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(0rem); }
  50% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveinRight {
  0% {
    opacity: 0;
    transform: translateX(0); }
  50% {
    opacity: 0;
    transform: translateX(8rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.loading-text {
  font-size: 4rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); }

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
  font-family: 'Unica One', sans-serif; }

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-primary--light);
  font-size: 26px;
  line-height: 22px;
  letter-spacing: 2px;
  font-weight: 800;
  transition: all 0.3s; }

.main-nav-link:hover,
.main-nav-link:active {
  color: #DBD4AF; }

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: var(--color-primary);
  background-color: #DBD4AF; }

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--color-primary-light);
  color: black; }

.flags {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 2rem; }

.flags__img {
  display: block;
  cursor: pointer; }

.f {
  width: 45px;
  cursor: pointer; }

.section-main {
  height: 100vh;
  width: 100%;
  position: relative;
  margin: 0; }
  .section-main .section-main__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: linear-gradient(to right bottom, rgba(103, 98, 98, 0.7), rgba(19, 15, 15, 0.5)); }
  .section-main .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .section-main .heading-primary {
    display: block;
    color: #333333;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    font-family: 'Roboto', sans-serif; }
    .section-main .heading-primary--main {
      display: block;
      font-size: 5rem;
      font-weight: bolder;
      letter-spacing: .85rem;
      padding-bottom: 1rem;
      animation-name: moveInLeft;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      color: #DBD4AF; }
    .section-main .heading-primary--sub {
      display: block;
      font-size: 3rem;
      font-weight: 900;
      letter-spacing: 1.5rem;
      animation: moveinRight 2s ease-out;
      position: relative;
      color: #DBD4AF; }

.section-aboutme {
  padding: 10rem 15rem;
  width: 100%;
  height: 100%; }
  .section-aboutme__content {
    display: flex;
    gap: 10rem; }
  .section-aboutme__left-side {
    text-align: center; }
  .section-aboutme__right-side {
    display: flex;
    flex-direction: column;
    gap: 4rem; }

.section-creations__gallery {
  gap: 2rem;
  padding: 5rem; }

.section-creations .gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s; }

.section-creations .gallery-item {
  overflow: hidden; }

.section-creations .gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s; }

.section-creations .gallery-item img:hover {
  transform: scale(1.1); }

.section-cta {
  /* top / horizontal / left */
  color: #e4e3e3; }

.aboutme-photo {
  max-width: 35vw; }

.ebook-photo {
  max-width: 550px;
  height: 100%; }

.ebook {
  padding: 5rem; }

.ebook-section {
  display: flex;
  justify-content: center;
  width: 100%; }

.cta-ebook {
  margin-left: 5rem;
  margin-top: 2rem; }

.ebook-description {
  max-width: 30vw; }

.star-price {
  display: flex;
  flex-direction: column;
  padding: 0  0 2rem 5rem; }

.section-recipes {
  padding: 15rem 20rem; }
  .section-recipes h1 {
    color: #1b1b1b; }
