@charset "UTF-8";
.header {
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: #1b1b1b;
  /* Porque quero o header um pouco mais pegajoso*/
  height: 12rem;
  /* 0 up and bottom,4.8rem right and left*/
  padding: 1rem 0  0 4.8rem;
  text-transform: uppercase;
  justify-content: space-between; }
  .header__text-box {
    text-align: center; }

:root {
  --color-primary:#292929 ;
  --color-primary-light:#E5E0BC ;
  --color-primary-dark:#323232 ;
  /*h2 fundo

   

    --color-grey-dark-1: #606060;barra h1
    --color-grey-dark-2:#424B51 ;fundo foto
    --color-grey-dark-3: ;
    
    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light:0 2rem 5rem rgba(0,0,0,.06);
    font Montserrat 0#A2968
    unica One 20px 20px 2px distancia #DBD4AF
    texto PT Sans regular 16px 24px alt #606060
    nome Source Sans pro 42px
    */ }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif; }

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif; }

.logo {
  height: 12rem;
  margin: 5rem; }

.container {
  max-width: 70vw;
  padding: 0 2rem;
  margin: 0 auto; }

.social-media {
  font-size: 4rem;
  align-items: center;
  display: flex;
  gap: 6rem;
  list-style: none;
  text-decoration: none;
  padding-right: 7rem;
  position: absolute; }
  .social-media .icon {
    color: var(--color-primary--light);
    text-decoration: none;
    position: absolute;
    top: 2rem;
    margin-left: 20rem; }
    .social-media .icon:hover {
      transform: translateY(-3px);
      color: white; }
    .social-media .icon:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 2rem rgba(255, 255, 255, 0.2); }

/* Adicione o estilo de efeito de flash aqui */
.flash-effect {
  animation-name: flash;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  /* Defina como 1 para que o efeito ocorra apenas uma vez */ }

.flash-effect-2 {
  animation-name: flash;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  /* Defina como 1 para que o efeito ocorra apenas uma vez */ }

@keyframes flash {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Adicione estas regras CSS para animar os ícones */
.social-media li {
  opacity: 0;
  transform: translateY(20px);
  /* Inicialmente, mova os ícones para baixo 20px */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; }

.social-media li.active {
  opacity: 1;
  transform: translateY(0);
  /* Quando ativos, mova os ícones para a posição normal */ }

.rotate-effect {
  position: absolute;
  top: 40%;
  left: 43%;
  transform: translate(-50%, -50%);
  animation-name: rotate;
  animation: rotate 2s ease-in-out forwards, fadeOut 0.5s 1s ease-in-out forwards;
  animation-iteration-count: 1;
  width: 200px;
  height: 200px;
  animation-fill-mode: forwards;
  /* Mantém a última quadro da animação após a conclusão */ }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/***************************/
/*FOOTER*/
/***************************/
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee; }

.grid--footer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr; }

.social-icon {
  height: 2.4rem;
  width: 2.4rem; }

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto; }

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem; }

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6; }

.address {
  margin-bottom: 2.4rem; }

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem; }

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s; }

.footer-link:hover,
.footer-link:active {
  color: #555; }

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem; }

.grid-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.grid-3cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.grid-5cols {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr; }

/* About the chef*/
.paragraph {
  padding: 1rem 0 6rem  8rem;
  /*top,right,bottom and left*/
  font-size: 21px; }

.heading-secondary {
  font-size: 3rem;
  margin: 5rem;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Roboto', sans-serif; }

.subheading {
  display: block;
  font-size: 4rem;
  font-weight: 700;
  color: #423f3d;
  text-transform: uppercase;
  margin: 5rem 0 1.6rem 4rem;
  letter-spacing: .75px;
  font-family: 'Roboto', sans-serif;
  padding-top: 6rem; }

.center {
  text-align: center; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(0rem); }
  50% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveinRight {
  0% {
    opacity: 0;
    transform: translateX(0); }
  50% {
    opacity: 0;
    transform: translateX(8rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.loading-text {
  font-size: 4rem;
  z-index: 4;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); }

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
  font-family: 'Unica One', sans-serif; }

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-primary--light);
  font-size: 26px;
  line-height: 22px;
  letter-spacing: 2px;
  font-weight: 800;
  transition: all 0.3s; }

.main-nav-link:hover,
.main-nav-link:active {
  color: #DBD4AF; }

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: var(--color-primary);
  background-color: #DBD4AF; }

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--color-primary-light);
  color: black; }

.section-main {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0; }
  .section-main .section-main-fue {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .section-main .section-main__photo,
  .section-main .section-main__photopro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .section-main .section-main__photo {
    z-index: 1;
    /* Z-index menor para a .__photo */ }
  .section-main .section-main__photopro {
    z-index: 2;
    /* Z-index maior para a .__photopro, fazendo-a sobressair */
    width: 50vw;
    height: 100%;
    left: 50%; }
  .section-main .header__text-box {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 3; }
  .section-main .heading-primary {
    display: block;
    color: #333333;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    font-family: 'Roboto', sans-serif; }
    .section-main .heading-primary--main {
      display: block;
      font-size: 8rem;
      font-weight: bolder;
      letter-spacing: .85rem;
      padding-bottom: 1rem;
      animation-name: moveInLeft;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      color: #4e4137; }
    .section-main .heading-primary--sub {
      display: block;
      font-size: 4rem;
      font-weight: 900;
      letter-spacing: 1.5rem;
      animation: moveinRight 2s ease-out;
      position: relative;
      color: #3c3c37; }

.section-creations__gallery {
  gap: 2rem;
  padding: 5rem; }

.section-creations .gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s; }

.section-creations .gallery-item {
  overflow: hidden; }

.section-creations .gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s; }

.section-creations .gallery-item img:hover {
  transform: scale(1.1); }

.section-aboutme {
  position: relative;
  padding: 28rem 0;
  background-color: #1b1b1b;
  color: #e3e0e0; }
  .section-aboutme__content {
    display: flex; }
  .section-aboutme .aboutme-chef {
    max-width: 70%; }

.section-cta {
  /* top / horizontal / left */
  color: #e4e3e3; }

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #f3b784da, #c07432);
  overflow: hidden; }

.cta-title {
  color: #6f6f6f; }

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #3b3838; }

.cta .heading-secondary {
  color: #a03810;
  margin-bottom: 3.2rem; }

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem; }

.cta-img-box {
  background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)), url("../img/gallery/Design sem nome-13.png");
  background-size: cover;
  background-position: center; }

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem; }

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem; }

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.cta-form input::placeholder {
  color: #aaa; }

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(210, 130, 65, 0.5); }

#select-where {
  color: #9a3b15; }

#texto {
  text-align: center;
  color: #333;
  font-size: 1.5rem;
  font-weight: 500; }

.profile-photo {
  width: 35vw; }

.ebook-photo {
  max-width: 550px;
  height: 100%; }

.ebook {
  padding: 5rem; }

.ebook-section {
  display: flex;
  justify-content: center;
  width: 100%; }

.cta-ebook {
  margin-left: 5rem;
  margin-top: 2rem; }

.ebook-description {
  max-width: 30vw; }

.star-price {
  display: flex;
  flex-direction: column;
  padding: 0  0 2rem 5rem; }

.fue {
  position: absolute;
  width: 650px;
  height: 650px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: transform 0.5s ease; }

.custom-shape-divider-bottom-1700359886 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg); }

.custom-shape-divider-bottom-1700359886 svg {
  position: relative;
  display: block;
  width: calc(210% + 1.3px);
  height: 100px; }

.custom-shape-divider-bottom-1700359886 .shape-fill {
  fill: #1b1b1b; }
