.header {
    display: flex;
    align-items: center;
    background-color:var(--color-primary);
    color: #ffffff;
    /* Porque quero o header um pouco mais pegajoso*/
    height:11rem;
    /* 0 up and bottom,4.8rem right and left*/
    padding:1rem 0  0 4.8rem;
    text-transform: uppercase;
    justify-content: space-between;
   

    
    &__text-box{
    
      text-align: center;
      }
  }


  

  