//SECTION MAIN
.section-main {
 position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;

  background-image:linear-gradient(
    to right bottom,
    rgba(rgb(45, 39, 39), 0.1), 
    rgba(rgb(13, 13, 13), 0.2));
  
  &__photo{
    position: absolute;
    width:100%;
  height:100%;
  background-size: contain;
    
 
  }
  .header__text-box{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    }
    .heading-primary {
      display: block;
      color:#DBD4AF;
      text-transform: uppercase;
  
      backface-visibility: hidden;
      margin-bottom: 6rem;
      font-family:  'Roboto', sans-serif; 


      
  
  
      &--main {
        display: block;
        font-size: 4rem;
        font-weight: 800;
        letter-spacing: .85rem;
        padding-bottom: 1rem;
    
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
  
       
             
  
       
        
      }
  
      &--sub{
      display: block;
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: 1.5rem;
   
      animation:moveinRight 2s ease-out;
      position: relative;
  
     
       }
      }
}





//SECTION CREATIONS
.section-creations{

    &__gallery{
        gap: 2rem;
        padding: 5rem;
     
    }

    .gallery-item img {
        display: block;
        width: 100%;
        transition: all 0.4s;
      }
      .gallery-item {
        overflow: hidden;
      }
      
      .gallery-item img {
        display: block;
        width: 100%;
        transition: all 0.4s;
      }
      
      .gallery-item img:hover {
        transform: scale(1.1);
      }
}

//SECTION ABOUT-ME
.section-aboutme{
  background-color:#fff;

      &__content {
        display: flex;
        }

}
//SECTION-CTA
.section-cta {
  /* top / horizontal / left */

  color: #e4e3e3;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #f3b784da, #c07432);
  overflow: hidden;
}

.cta-title {
  color: #6f6f6f;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #3b3838;
}

.cta .heading-secondary {
  color: #a03810;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/gallery/Design\ sem\ nome-13.png");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(210, 130, 65, 0.5);
}

#select-where {
  color: #9a3b15;
}

#texto {
  text-align: center;
  color: #333;
  font-size: 1.5rem;
  font-weight: 500;
}