//SECTION MAIN
.section-main {
  height: 95vh;
  width: 100%;

  margin: 0;


  .section-main__photo{
      
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-image: linear-gradient(
        to right bottom,
        rgba(103, 98, 98, 0.7), /* Black with 70% opacity */
        rgba(19, 15, 15, 0.5) /* Medium gray with 50% opacity */
      );
}
 
  .header__text-box{
    position: absolute;
    top: 60%;
    left: 48%;
    transform: translate(-50%,-50%);
 
    }
    .heading-primary {
      align-items: center;
      text-align: center;
      display: block;
      color:#333333;
      text-transform: uppercase;
  
      backface-visibility: hidden;
      margin-bottom: 6rem;
      font-family:  'Roboto', sans-serif; 

      &--main {
        display: block;
        font-size:6rem;
        font-weight:900;  
        letter-spacing: .85rem;
        padding-bottom: 1rem;
    
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        color:#DBD4AF;
      }
  
      &--sub{
      display: block;
      font-size: 3rem;
     
      font-weight: 900;
      letter-spacing: 1.5rem;
   
      animation:moveinRight 2s ease-out;
      position: relative;
      color:#DBD4AF;
      }
    }
}


//SECTION ABOUT-ME
.section-aboutme{
  padding: 10rem 15rem;
  width: 100%;
  height: 100vh;
 


  &__content{
   display: flex;
   padding: 15rem 5rem;


 
   
  }
  &__left-side{
 justify-content: center;

  }
  &__right-side{
  
    gap: 2rem;
    padding-top: 4rem;
    text-align: center;
width:50%;

  }
}
//SECTION CREATIONS
.section-creations {
  padding:0 25rem ;
  text-align: center;

  .section-creations__gallery{
    
    display: grid;
    gap: 2rem;
    padding: 15rem 0;
   
    
  }


  .gallery-link {
   
      text-decoration: none;
      color: inherit;
      transition: transform 0.3s;
      display: block;
      overflow: hidden;
      text-align: center;
   
  }


  .gallery-item {
 
      overflow: hidden;
      position: relative;
    
      
      transition: all 0.3s;
   
  }

  .gallery-item img {
    
      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.4s;
     
  
    
  }
 .gallery-item:hover{
  transform: scale(1.1);

 }

  .gallery-box-description {
      position: absolute;
      padding: 0;
      top: 40%;
      left:0;
      font-size: 4.5rem;
      text-decoration: none;
      text-transform: uppercase;
      color: #f0ebeb;
    
      width: 100%;
      height: 100%;
 
    
      font-family: 'Montserrat', sans-serif;
      transition: opacity 0.1s;
      font-weight: 400;
      opacity: 0;
     
  }

  .gallery-link:hover .gallery-box-description {
      opacity: 1;
   position: absolute;
 
  
     
  }


.gallery-item::before {
  content: "";
position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
 
  background-image: linear-gradient(
      to right bottom,
      rgba(86, 82, 82, 0.419),
      rgba(19, 18, 18, 0.699)
  );
  opacity: 0;

 

  
}

.gallery-item:hover::before {

  margin: 0 auto;
  opacity: 1;
  transform: scale(1.1);

}
.icon-creation{
  font-size: 3.5rem;
  position: absolute;
 top: 10%;
 left: 46%;
  font-size: 4rem;
  display: inline-block;

 
  
  

}
}

//SECTION-CTA
.section-cta {
  /* top / horizontal / left */

  color: #e4e3e3;
}
//ebook-section
.ebook{
  padding:15rem 0;
 


  .ebook-description{
    display: flex;
    flex-direction: row;
    

  }
 .ebook-photo{

  height: 100%;
 }
.ebook-right{
  height: 100%;
 width: 50vw;
 
}
}
//ebooks cta ebook.html
.container {
  .ebook-content {
    width: 100%;
  
   
  }

  .ebook-box {
    display: flex;
    flex-direction: column;
  
    width:390px;
    height:100%;
    position: relative;
    cursor: pointer;
    gap: 14rem;
  
.ebook-price{
 top: 90%;
  position: absolute;

  .ebook-title{
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    padding: 5rem;
  }
}
    .ebook-photo-small,
    .ebook-photo-new {
      
      max-width: 400px;
      height: 100%;
      transition: transform 0.6s ease-in-out; /* Adicione uma transição suave na propriedade transform */
    }

 

    .ebook-photo-small {
      max-width: 400px;
      height: 100%;
    }

  

    .ebook-photo-new {
      display: none; /* Inicialmente, a nova imagem está oculta */
      position: absolute; /* Posicione a nova imagem absolutamente dentro da ebook-box */
      top: 0;
      left: 0;
      max-width: 400px; /* Ajuste conforme necessário */
      height: 100%;
      
    }

    &:hover .ebook-photo-small {
      display: none;
    }

    &:hover .ebook-photo-new {
      display: block; /* Ao passar o mouse, exiba a nova imagem */
      overflow: hidden;
      animation-name: flash;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
   
    }
  }
}


//ebook-1
.ebook-1-content {
  padding: 10rem 5rem 0 5rem;
 position: relative;
  display: flex;
  justify-content: space-evenly;
  .ebook-1-right{
    padding:10rem ;
  
  }

}
.ebook-inside{

  position: absolute;
  left: 10rem;
  
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  
  
.ebook-mini{ 
  width: 50px;
  height: 70px;
}
 
}
.ebook-footer{
  font-size: 18px;
  max-width: 90vw;
  padding: 10rem 5rem;
}

.cta-ebook{
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color:#DBD4AF;
  color: #333;
  font-size: 26px;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 800;
    transition: all 0.3s;
    text-decoration: none;
    display: inline-block;
   

  
 
 
   
   
}
//menu.html
.section-menu{
  padding: 15rem;
  height: 100vh;
  .menu{
    width: 60vw;
    height: 100%;

  }
.box-menu{
  width:70px;
}
}
//.container-cake

.container-cake{
  justify-content: center;
  align-items: center;
  text-align: center;
}