.main-nav-list {
    list-style: none;
    display: flex;
    gap: 4.8rem;
    align-items: center;
    font-family:'Unica One', sans-serif;

  }
  
  .main-nav-link:link,
  .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color:var(--color-primary--light);
    font-size: 26px;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 800;
    transition: all 0.3s;
  }
  
  .main-nav-link:hover,
  .main-nav-link:active {
    color: #DBD4AF;
  }
  
  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color:var(--color-primary);  
    background-color:#DBD4AF; 
 }
  
  .main-nav-link.nav-cta:hover,
  .main-nav-link.nav-cta:active {
    background-color: var(--color-primary-light);
    color: rgb(26, 26, 26);
  }
  //flags
  .flags{
    width: 300px;
    display: flex;
    align-items: center;
    gap: 2rem;
   
  }
 
  .flags__img{
    display: block;
    cursor: pointer;
  }
  .f{
    width: 45px;
    cursor: pointer;
  }