
.aboutme-photo{

  max-width:40rem;
  height: 30%;
  position: absolute;
  top: 5%;
  left: 12%;

}
.aboutme-photo-1{
 max-width: 40rem;
 position: absolute;
 top: 28%;
 left: 35%;

}
.aboutme-photo-2{
  max-width: 40rem;
  position: absolute;
  top:50%;
  left: 20%;
 

  
}
  .ebook-photo {
    max-width:550px;
    
    
  }
  
 
  .cta-ebook{
  margin-left: 5rem; 
  margin-top: 2rem;   

   
  }
  .ebook-description {
  max-width: 30vw;
   
  }
  .star-price{
    display: flex;
    flex-direction: column;
    padding: 0  0 2rem 5rem;
  }
  //fue main


//recipes

.section-recipes{
  padding: 15rem 20rem;

  h1{
    color: #1b1b1b;
  }
}

//cakes,html
.cake-img{
  padding: 0.5rem;

  max-width:500px;
  height:100%;
}