
.aboutme-photo{
  max-width:35vw;
}

  .ebook-photo {
    max-width:650px;
    height:650px;
    
  }
  
 
  .cta-ebook{
  margin-left: 5rem; 
  margin-top: 2rem;   

   
  }
  .ebook-description {
  max-width: 30vw;
   
  }
  .star-price{
    display: flex;
    flex-direction: column;
    padding: 0  0 2rem 5rem;
  }
  //fue main


//recipes

.section-recipes{
  padding: 15rem 20rem;

  h1{
    color: #1b1b1b;
  }
}

