
//SECTION MAIN RECIPE index.html
.recipe{
    padding:20rem 5rem  10rem 5rem;
    height: 100vh;
   
background-color: #333;
color:beige;
.recipe-primary-title{

    text-align: center;
    font-size:6rem;
    font-weight: 700;
    color:#DBD4AF;
    text-transform: uppercase;
    letter-spacing: .75px;
    font-family:'Unica One', sans-serif;
    display: block;
 
    
   padding-bottom: 8rem;
   

}
    &__container{
        position: relative;
        display: flex;
        justify-content: space-evenly;

    }
    &__imagem{
        max-width: 400px;
        border-radius: 3px;
      
    }
    &__title{
        position: absolute;
        top:50%;
        left:16%;
        border-radius: 6px;
        font-size: 21px;
        font-weight: 600;
        color:#333 ;
        
    }
    &__description{
        max-width:400px;
        font-size: 21px;
    }
    &__creator{
        font-size: 14px;
        text-transform: uppercase;
        padding: 1rem 0;
        line-height: 2;

    }
    &__card{
        position: relative;
    }
    
}
// 2 page chocolatquent.html

.recipes{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 15rem 25rem;
    text-align: center;  
    align-items:center;
   
   
  

 .left-side{
  
    .left-side__photo{
        width:50vw;
        height: 50vh;
        border-radius: 3px;
        object-fit:cover;
    }
    .left-side__title{
        font-size: 6rem;
        font-weight: 200;
        text-align: start;
       

       
    }
    .left-side__subheading{
        padding: 2rem 0;
        text-align: start;
        font-size: 18px;
        text-transform: uppercase;
        
       
    
    
    }
    
 }

   .right-side{

   
    .status-recipe{
     
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
       
        padding: 5rem 0;
       
        .time,.nivel,.rendimento{
            font-size:21px;
            width: 260px;
            padding: 4rem 0;
            background-color:#dbd4af86;
            
            
    
        }

      
     

    }
   


.paragraph{
    font-size: 2rem;
    width: 50vw;
    text-align: start;

}
.topic{
    padding:0.5rem ;
    background-color: #DBD4AF;
    text-transform: uppercase;
    font-size: 21px;
    display: block;
    text-align: start;
    font-weight: 600;
}

.ingredients{
    padding-left: 2rem;
}
.prepare{
    display: flex;
    flex-direction: column;
    gap: 3rem;

}
}
}
