
//SECTION MAIN RECIPE index.html
.recipe{
   

    &__container{
        position: relative;

    }
    &__imagem{
        max-width: 400px;
      
    }
    &__title{
        position: absolute;
        top:70%;
        left:16%;
        border-radius: 3px;
        font-size: 21px;
        font-weight: 600;
    }
    &__description{
        max-width:400px ;
    }

}
// 2 page chocolatquent.html

.recipes{
   
    display: flex;
    gap: 3rem;
    padding: 15rem 25rem;

 .left-side{
    .left-side-photo{
        width: 600px;
        border-radius: 3px;
    }
 }
   
   .right-side{
    display: flex;
    flex-direction: column;
    display: inline-block;

    .right-side-title{
        font-size: 4rem;
    }
   }
    .recipe__link{
        font-size: 18px;
        text-transform: uppercase;
      
        
    }

}