.section-form{
    
    position: relative;
     height: 100vh;
     width: 100%;
     padding: 0;
     background-image: linear-gradient(
        to right bottom,
        rgba(108, 106, 106, 0.935),
        rgba(29, 29, 29, 0.647)
    );


     .contact{
        position: relative;
        width:40vw;
        height: 65vh;
        padding: 10rem;
        background-color:#eae1cb;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 12px;
     }
     .form{
      
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2rem;
        
     }
     .pattern-form {
        position: absolute;
        top: 12%;
        left: -25%;

        .designer{
          width: 200px;
        }
    }
    .pattern2-form {
        position: absolute;
        top: 12%;
        left: 100%;
        .designer--2{
            width: 200px;
            
        }
    }
     .form input,  textarea{
        background-color:rgb(250, 250, 250);
        border-radius: 8px;
        font-size: 2rem;
        border: none;  
        width:100%;
        padding: 1.5rem;
    }
     .form textarea {
        resize: none;//PARA NAO REDIMENSIONAR 
    }
    .form input::placeholder,
    .form textarea::placeholder {
    color:#333; 

}
.btn-send{
    padding: 1.5rem 4rem;
    border-radius: 8px;
   font-size: 21px;
   text-transform: uppercase;
   color: #f7f7f7;
    background-color:#333333a0;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
    margin-top: 2rem;
    border: none;
 
}
.btn-send:hover {
    transform: translateY(-1px);
    
  }
  .form-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place it behind other content */
}
}