.section-form{
    
    position: relative;
     height: 100vh;
     width: 100%;
     padding: 0;
     background-image: linear-gradient(
        to right bottom,
        rgba(108, 106, 106, 0.935),
        rgba(29, 29, 29, 0.647)
    );


     .contact{
        font-family:'Unica One', sans-serif;
        position: relative;
        width:50vw;
        padding: 10rem;
        background-color:#eae1cb;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 12px;
         // Ajuste para dispositivos móveis
    @include respond(mobile) {
        width: 90vw;
        padding: 2rem 5rem;
      }
    @include respond(tab-land) {
        width: 50vw;
    }
    @include respond(big-desktop) {
        width: 30vw;
    }
     }
     .form{
      
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2rem;
        padding-bottom: 2em;
      
     }
    
     .form input,  textarea{
        background-color:rgb(250, 250, 250);
        border-radius: 8px;
        font-size: 2rem;
        border: none;  
        padding: 1.5rem;
    }
     .form textarea {
        resize: none;//PARA NAO REDIMENSIONAR 
      
    }
    .form input::placeholder,
    .form textarea::placeholder {
    color:#333; 

}
  .form-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place it behind other content */
}
.btn-main{
    border: none;
}
}