.grid-2col{
    display: grid;
    grid-template-columns:repeat(2,1fr);
} 

.grid-3cols{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid-5cols{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    
   
    

}

