.grid-2col{
    display: grid;
    grid-template-columns:repeat(2,1fr);
} 

.grid-3cols{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid-5cols{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    
    @include respond(mobile) {
       grid-template-columns: 0fr 2fr 1fr 1fr; /* Alterar para uma única coluna em telas menores */
   
      }
    

}

/* Estilos para a seção de registro */
/* Estilos da Seção de Registro */
.register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 2rem;
}

.register-section h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}





.register-section p {
    margin-top: 1rem;
    color: #333;
}

.register-section a {
    color: #615110;
    text-decoration: none;
    font-weight: 500;
}

.register-section a:hover {
    text-decoration: underline;
}

/* Estilos do overlay */
.modal-overlay {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente */
    z-index: 1; /* Abaixo do modal */
}

/* Estilos do modal */
/* Overlay para cobrir o fundo quando o modal estiver aberto */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    z-index: 1; /* Abaixo do modal */
}
.modal {
    display: none;
  
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8efef;
    padding: 20px;
    z-index: 2; /* Modal acima do overlay */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 900px;
    width: 100%;
    height:50%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-content {
    padding: 15px 0;
}

.btn-main {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-main:hover {
    background-color: #555;
}

/* Exibir o modal e o overlay quando ativados */
.modal.show {
    display: block;
}

.modal-overlay.show {
    display: block;
}

/* Efeito de desfoque */
.blur {
    filter: blur(5px); /* Ajuste a intensidade do desfoque conforme necessário */
    pointer-events: none; /* Impede a interação com o conteúdo desfocado */
}



