.grid-2col{
    display: grid;
    grid-template-columns:repeat(2,1fr);
} 

.grid-3cols{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid-5cols{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    
    @include respond(mobile) {
       grid-template-columns: 0fr 2fr 1fr 1fr; /* Alterar para uma única coluna em telas menores */
   
      }
    

}

/* Estilos para a seção de registro */
/* Estilos da Seção de Registro */
.register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 2rem;
}

.register-section h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}





.register-section p {
    margin-top: 1rem;
    color: #333;
}

.register-section a {
    color: #615110;
    text-decoration: none;
    font-weight: 500;
}

.register-section a:hover {
    text-decoration: underline;
}
