.main-nav-list {
    list-style: none;
    display: flex;
    gap: 4.8rem;
    align-items: center;
    font-family:'Unica One', sans-serif;

    @include respond(tab-land){
      display: none;
    }

  .main-nav-link:link,
  .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color:var(--color-primary--light);
    font-size: 26px;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 800;
    transition: all 0.3s;
  }
  
  .main-nav-link:hover,
  .main-nav-link:active {
    color: #dbd4af;
  }
  
  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color:var(--color-primary);  
    background-color:#dbd4af; 
 }
  
  .main-nav-link.nav-cta:hover,
  .main-nav-link.nav-cta:active {
    background-color: var(--color-primary-light);
    color: rgb(26, 26, 26);
  }
 


}


 /*     font-family:'Unica One', sans-serif;Mantém o estilo da navegação e alinha o link de Login à direita */
.forgotpass-page .main-nav-list {

    width: 80vw; /* Garante que a lista ocupe toda a largura disponível */
@include respond (tab-land){
  width: 70vw;
}
  }

  

.forgotpass-page .main-nav-link {
  color: #242121; /* Ajuste para a cor original do link */
  background-color: beige;
  text-decoration: none;
  padding: 15px 20px; /* Padding para manter o estilo */
  border-radius: 4px;
}

.forgotpass-page .main-nav-link:hover {
  color: #eba350; 
}