.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
  font-family: 'Unica One', sans-serif;
  
  /* Ajustes responsivos */
  @include respond(tab-land) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

.main-nav-link {
  display: inline-block;
  text-decoration: none;
  color: var(--color-primary--light);
  font-size: 26px;
  line-height: 22px;
  letter-spacing: 2px;
  font-weight: 800;
  transition: all 0.3s;

  &:hover,
  &:active {
    color: #dbd4af;
  }
}

.main-nav-link.nav-cta {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: var(--color-primary);
  background-color: #dbd4af;

  &:hover,
  &:active {
    background-color: var(--color-primary-light);
    color: rgb(26, 26, 26);
  }
}

/* Estilo específico para a página de esquecimento de senha */
.forgotpass-page .main-nav-list {
  width: 80vw;

  @include respond(tab-land) {
    width: 70vw;
  }
}

.forgotpass-page .main-nav-link {
  color: #242121;
  background-color: beige;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 4px;

  &:hover {
    color: #eba350;
  }
}

/* Estilos do menu hamburguer */
.hamburger {
  display: none; /* Oculta o hambúrguer em telas maiores */
  font-size: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #dbd4af;
  position: relative;

  &.active .icon-menu {
    display: none;
  }

  &.active .icon-close {
    display: inline;
  }
}

.icon-menu,
.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-close {
  display: none;
  color: #0e0d0a;
  z-index: 15;
}

/* Menu responsivo */
@media (max-width: 1200px) {
  .hamburger {
    display: block;
  }

  .main-nav {
    display: none;
    transition: all 0.3s ease-in-out;

    &.active {
      display: flex !important;
      flex-direction: column;
      position: absolute;
      top: 5px;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #f4f2e9;
      color: #eba350;
      z-index: 10;
    }
  }

  .main-nav-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-nav-link {
    font-size: 18px;
    color: var(--color-primary--light);
  }
}
