
.logo {
    height: 12rem;
    @include respond(mobile){
      height: 10rem;

  }
  }

.container {
  padding: 0 15rem;


 
}
.container-gallery{
  padding: 0 10%;
}

.social-media {
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-50%,-50%);
  font-size:2.8rem;
  gap: 4.6rem;

  display: flex;
  list-style: none;
  text-decoration: none;
  color:#5452525d;

  @include respond(mobile){
    
font-size: 3rem;
gap: 4rem;


  }
  .icon {
    color:rgb(135, 131, 131);
    text-decoration: none;
    position: absolute;
    padding-top:6rem;
 
  @include respond(mobile){
    padding: 0;
    padding-top: 8rem;
  }
  &:hover {
    transform: translateY(-3px);
    color: #d5ba87;
  }

  &:active {
  transform: translateY(-1px);
  box-shadow: 0 .5rem 2rem rgba(white,.2);
  }
 }
}
.social-media-footer{
  font-size:3rem;
  display: flex;
  gap: 2rem;
  list-style: none;
  text-decoration: none;

  position: absolute;
  top: 34%;
  .icon{
    color: #ddc392;
  }

}
/* Adicione o estilo de efeito de flash aqui */
.flash-effect {
  animation-name: flash;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1; /* Defina como 1 para que o efeito ocorra apenas uma vez */
}

.flash-effect-2 {
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}


@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Adicione estas regras CSS para animar os ícones */
.social-media li {
  opacity: 0;
  transform: translateY(10px); /* Inicialmente, mova os ícones para baixo 20px */
  transition: opacity 1.5s ease-in-out, transform 1s ease-in-out;
}

.social-media li.active {
  opacity: 1;
  transform: translateY(0); /* Quando ativos, mova os ícones para a posição normal */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* Estilos da classe reveal */
.reveal {
  opacity: 0;
  transform: translateY(45px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Estilos da classe active para revelar o elemento */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
.reveal-from-right {
  opacity: 0;
  transform: translateX(40px); /* Ajuste a distância conforme necessário */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.reveal-from-right.active {
  opacity: 1;
  transform: translateX(0);
}

/* Esconde todos os links da navegação, exceto o de Login, na página forgotpass */
.forgotpass-page .main-nav-list li:not(:last-child) {
  display: none; /* Esconde os links anteriores ao link de Login */
}

/* Garante que a navegação mantenha o estilo */
.forgotpass-page .main-nav-list {
  display: flex;
  justify-content: flex-end; /* Mantém o estilo flex e alinha o login à direita */
}
