
.logo {
    height: 12rem;
    @include respond(mobile){
      height: 10rem;

  }
  }

.container {
  padding: 0 15rem;


 
}
.container-gallery{
  padding: 0 10%;
}
.social-media {

  display: flex;
  align-items: center;
  gap: 2rem; /* Ajuste o espaço entre os ícones */
  list-style: none;
}




//BTN

.btn-main {
  margin-top: 1rem;
  font-size: 2rem;
  padding: 14px 28px;
  background-color: #644812;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  cursor: pointer; /* Adiciona um cursor de pointer para indicar clicável */
  display: inline-block; /* Garante que o botão se comporte corretamente */
  transition: background-color 0.3s, transform 0.2s; /* Adiciona transição de hover e clique */
}

.btn-main:hover {
  background-color: #50390f; /* Muda a cor no hover */
}

.btn-main:active {
  transform: scale(0.98); /* Pequeno efeito de clique */
}

.btn-main:focus {
  outline: none; /* Remove o outline padrão */
  box-shadow: 0 0 0 3px rgba(100, 72, 18, 0.5); /* Adiciona um contorno visível ao focar */
}

//PARAGRAPH


.paragraph {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif; /* Fonte moderna e legível */
  font-size: 20px; /* Tamanho de fonte padrão para legibilidade */
  line-height: 1.5; /* Espaçamento entre linhas adequado */
  color: #333; /* Cor do texto para bom contraste */
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: justify; /* Justifica o texto para alinhamento uniforme */
}

.paragraph strong {
  font-weight: bold; /* Destaca o texto em negrito */
  color: #644812; /* Cor diferenciada para ênfase */
}

.paragraph em {
  font-style: italic; /* Aplica itálico para ênfase */
}
.paragraph a:hover {
  color: #50390f; /* Cor dos links ao passar o mouse */
}

.icon {
  color: rgb(135, 131, 131);
  font-size: 2.8rem;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.icon:hover {
  color: #d5ba87; /* Cor ao passar o mouse */
  transform: translateY(-3px);
}

.icon:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 2rem rgba(255, 255, 255, 0.2);
}

.social-media-footer{
  font-size:3rem;
  display: flex;
  gap: 2rem;
  list-style: none;
  text-decoration: none;

  position: absolute;
  top: 34%;
  .icon{
    color: #ddc392;
  }

}


/* Adicione o estilo de efeito de flash aqui */
.flash-effect {
  animation-name: flash;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1; /* Defina como 1 para que o efeito ocorra apenas uma vez */
}

.flash-effect-2 {
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}


@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Estilos da classe reveal */
.reveal {
  opacity: 0;
  transform: translateY(45px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Estilos da classe active para revelar o elemento */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
.reveal-from-right {
  opacity: 0;
  transform: translateX(40px); /* Ajuste a distância conforme necessário */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.reveal-from-right.active {
  opacity: 1;
  transform: translateX(0);
}

/* Esconde todos os links da navegação, exceto o de Login, na página forgotpass */
.forgotpass-page .main-nav-list li:not(:last-child) {
  display: none; /* Esconde os links anteriores ao link de Login */
}

/* Garante que a navegação mantenha o estilo */
.forgotpass-page .main-nav-list {
  display: flex;
  justify-content: flex-end; /* Mantém o estilo flex e alinha o login à direita */
}

#gerenciamento-receitas {
  display: none;
}
//cookie banner
.cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  font-size: 14px;
}

.cookie-banner p {
  margin: 0;
  flex: 1;
  text-align: left;
}

.cookie-banner a {
  color: #202cd7;
  text-decoration: underline;
}

.cookie-banner button {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #f3eac7;
  color: #1d1c1c;
  border: none;
  cursor: pointer;
}

.cookie-banner button:hover {
  background-color: #a08e45;
}
//stats
.section-stats {
  padding: 3rem 0;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .stats-container {
    background-image: linear-gradient(
          to right,
          rgba(231, 235, 245, 0.858),
          rgba(242, 246, 250, 0.8)
      ),
    url('../img/base/White Minimalist Profile LinkedIn Banner-3.png');
    background-size: cover;
    background-position: center;
    background-color: #d4e5f0;
    padding: 2rem;
    border-radius: 8px;
    width: 70%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include respond(mobile) {
        flex-direction: column;
    }

    @include respond(tab-land) {
        border-radius: 0px;
        width: 100%;
    }
  }

  .stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .stat-icon {
    font-size: 4rem;
    color: #31ce5ee2;
    text-shadow: 0 0 4px rgba(60, 255, 116, 0.3);
    margin-bottom: 0.5rem;
  }

  .stat-number {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
  }

  .stat-text {
    font-size: 1.5rem;
    color: #666;
  }
  
  .contact-info {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #333;
  }
  
}


