
.logo {
    height: 12rem;
    @include respond(mobile){
      height: 10rem;
  }
  }

.container {
  padding: 0 15rem;
}
.container-gallery{
  padding: 0 10%;
}
.social-media {

  display: flex;
  align-items: center;
  gap: 2rem; /* Ajuste o espaço entre os ícones */
  list-style: none;
}

//BTN

.btn-main {
  margin-top: 1rem;
  font-size: 2.4rem;
  padding: 18px 46px;
  background-color: #644812;
  color: rgb(249, 244, 244);
  border: none;
  border-radius: 46px;
  text-decoration: none;
  cursor: pointer; /* Adiciona um cursor de pointer para indicar clicável */
  display: inline-block; /* Garante que o botão se comporte corretamente */
  transition: background-color 0.3s, transform 0.2s; /* Adiciona transição de hover e clique */
}

.btn-main:hover {
  background-color: #813e15; /* Muda a cor no hover */
  color: whitesmoke;
}

.btn-main:active {
  transform: scale(0.98); /* Pequeno efeito de clique */
}

.btn-main:focus {
  outline: none; /* Remove o outline padrão */
  box-shadow: 0 0 0 3px rgba(100, 72, 18, 0.5); /* Adiciona um contorno visível ao focar */
}
  
//PARAGRAPH
.paragraph {
  font-weight:300;
  font-family: 'Open Sans', sans-serif; /* Fonte moderna e legível */
  font-size: 1.4rem; /* Tamanho de fonte padrão para legibilidade */
  line-height: 1.5; /* Espaçamento entre linhas adequado */
  color: #333; /* Cor do texto para bom contraste */
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: justify; /* Justifica o texto para alinhamento uniforme */
}

.paragraph strong {
  font-weight: bold; /* Destaca o texto em negrito */
  color: #644812; /* Cor diferenciada para ênfase */
}

.paragraph em {
  font-style: italic; /* Aplica itálico para ênfase */
}
.paragraph a:hover {
  color: #50390f; /* Cor dos links ao passar o mouse */
}

.icon {
  color:#e9dcc4;
  font-size: 3.2rem;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.icon:hover {
  color: #d5ba87; /* Cor ao passar o mouse */
  transform: translateY(-3px);
}

.icon:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 2rem rgba(255, 255, 255, 0.2);
}

.social-media-footer{
  font-size:3rem;
  display: flex;
  gap: 2rem;
  list-style: none;
  text-decoration: none;
  position: absolute;
  top: 34%;

  .icon{
    color: #ddc392;
  }
}


/* Adicione o estilo de efeito de flash aqui */
.flash-effect {
  animation-name: flash;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1; /* Defina como 1 para que o efeito ocorra apenas uma vez */
}

.flash-effect-2 {
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}


@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Estilos da classe reveal */
.reveal {
  opacity: 0;
  transform: translateY(45px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Estilos da classe active para revelar o elemento */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.reveal-from-right {
  opacity: 0;
  transform: translateX(40px); /* Ajuste a distância conforme necessário */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.reveal-from-right.active {
  opacity: 1;
  transform: translateX(0);
}

/* Esconde todos os links da navegação, exceto o de Login, na página forgotpass */
.forgotpass-page .main-nav-list li:not(:last-child) {
  display: none; /* Esconde os links anteriores ao link de Login */
}

/* Garante que a navegação mantenha o estilo */
.forgotpass-page .main-nav-list {
  display: flex;
  justify-content: flex-end; /* Mantém o estilo flex e alinha o login à direita */
}

#gerenciamento-receitas {
  display: none;
}


//stats
.section-stats {
  padding: 3rem 0;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .stats-container {
    background-image: linear-gradient(
          to right,
          rgba(231, 235, 245, 0.858),
          rgba(242, 246, 250, 0.8)
      ),
    url('../img/base/White Minimalist Profile LinkedIn Banner-3.png');
    background-size: cover;
    background-position: center;
    background-color: #d4e5f0;
    padding: 2rem;
    border-radius: 8px;
    width: 70%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include respond(mobile) {
        flex-direction: column;
    }

    @include respond(tab-land) {
        border-radius: 0px;
        width: 100%;
    }
  }

  .stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .stat-icon {
    font-size: 4rem;
    color: #31ce5ee2;
    text-shadow: 0 0 4px rgba(60, 255, 116, 0.3);
    margin-bottom: 0.5rem;
  }

  .stat-number {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
  }

  .stat-text {
    font-size: 1.5rem;
    color: #666;
  }
  
  .contact-info {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #333;
  }
  
}

/* Adicionando estilos específicos para textarea */
.form-section form textarea {
  resize: vertical;
  min-height: 80px;
}

/* Estilo adicional para formulários de receitas */
.form-section {
  display: none; /* Oculta o formulário inicialmente */
}

@media (max-width: 768px) {
  .vendas-container, .relatorio-container, .form-section {
    padding: 15px;
    max-width: 90%;
  }

  .vendas-container h2, .relatorio-container h2, .form-section h2 {
    font-size: 2rem;
  }

  .form-section form textarea {
    min-height: 60px; /* Ajusta para telas menores */
  }
}


//comments
/* Seção de comentários */
.comment-section {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #e0e0e0;
}

.comment-section h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
}

.comment-section form input,
.comment-section form textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #f9f9f9;
}

.comment-section button {
  background-color: #533a1d;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.comment-section button:hover {
  background-color: #7a5a37;
}

/* Mensagem de sucesso/erro */
.message {
  text-align: center;
  margin-top: 8px;
  font-size: 0.95rem;
  color: #333;
}

/* Lista de comentários */
.comment-list {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
 
}

.comment-list h3 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
 
}
#comments{
  text-decoration: none;
  color: #353533;
  width: 100%;
  text-align: start;
  list-style: none;
  line-height: 2;
}
.comment-item {
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0;
}

.comment-item:last-child {
  width: 90%; /* Ocupa 90% da div */
  margin: 0 auto 15px; /* Centraliza e adiciona espaçamento inferior */
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}


.comment-item p {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

.comment-item p strong {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: #333;
}

/* Botões de compartilhamento */
.share-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.share-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.share-btn.instagram {
  background-color: #E1306C; /* Cor do Instagram */
}

.share-btn.instagram:hover {
  background-color: #c6255a;
}

.share-btn.facebook {
  background-color: #3b5998; /* Cor do Facebook */
}

.share-btn.facebook:hover {
  background-color: #2d4373;
}

.share-btn ion-icon {
  margin-right: 10px;
  font-size: 1.2rem;
}

//cookies

.btn-cookies{
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
  padding: 0 5rem 0 1rem;
@include respond(tab-port){
 width:40vw;
}


@include respond (mobile){
  width:90vw;
  margin: auto;
  padding:0;

}

}
.cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100vw;
  min-height: 105px;
  justify-content: space-around;
  color: #141313af;
  padding: 2rem;
  background-color: #f4f6fa;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
  font-size: 2rem;
  text-align: center;
}

.cookie-banner .link-pp {
  color: #1d1c1ca7;
}

.cookie-banner p {
  margin: 0;
  flex: 1;
  text-align: left;
  max-width: 60vw;
}

.cookie-banner a {
  text-decoration: underline;
}

.cookie-banner .btn-cookies {
  display: flex;
  gap: 1rem; /* Espaçamento entre os botões */

}

.cookie-banner button {
  flex: 1;
  padding: 10px;
  background-color: #372906e6;
  color: #f3eaea;
  border: none;
  cursor: pointer;
  width:100%; /* Para telas maiores, mantém uma largura razoável */
}

.cookie-banner button:hover {
  background-color: #a08e45;
}

#declineCookies {
  border: 2px solid #5a3a1e; /* Borda marrom escura */
  background-color: transparent;
  color: #5a3a1e; /* Cor da fonte marrom escura */

}

#acceptCookies {
  background-color: #5a3a1e; /* Fundo marrom escuro */
  color: #ffffff; /* Cor da fonte branca */
}

@media (max-width: 768px) {
  .cookie-banner {
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    align-items: center;
  }

  .btn-cookies {
    width:90%;
  }

  .btn-cookies button {
    width: 50%; /* Cada botão ocupa 50% da largura em telas menores */
  }
}


#completeRecipeForm {
  display: block; /* Certifique-se de que o formulário está visível */
}

//FEEDBACK
/* Botão de feedback */

.btn-feedback {
  background-color: #683407;
  color: #fff;
  border: none;
  padding: 18px 34px;
  font-size: 2rem;
  border-radius:10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-feedback:hover {
  background-color: #86460e;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative; /* Certifique-se de que o modal não seja desfocado */

  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
  margin: 0 0 15px;
  font-size: 24px;
  text-align: center;
}

.modal-content label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.modal-content textarea, 
.modal-content select, 
.modal-content button {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.modal-content button {
  background-color: #5d290d;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: #753911;
}

/* Botão de fechar modal */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  margin: 1rem;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}
.modalview{
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 40vh;
  height: 50%;
  font-size: 1.4rem;
}
.modal-content.modalview {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 50vh; /* Limita a altura do modal */
  overflow-y: auto; /* Adiciona barra de rolagem quando o conteúdo excede a altura */
  font-size: 1.4rem;
}

.modal-content h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

#feedbackList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#feedbackList li {
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

#feedbackList li:last-child {
  border-bottom: none;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}
/* Classe para aplicar desfoque ao conteúdo de fundo */
.blurred {
  filter: blur(1px); /* Aumenta o valor do desfoque */
  background-color: rgba(195, 94, 94, 0.916); /* Leve escurecimento */
  pointer-events: none; /* Previne interação com o fundo */
  user-select: none; /* Previne seleção de texto no fundo */
  transition: filter 0.3s ease, background-color 0.3s ease;
}
/* Impede a rolagem do site quando o modal está aberto */
.no-scroll {
  overflow: hidden;
}
/* Overlay branco */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f6f2e7;
  z-index: 999; /* Um nível abaixo do modal */
  display: none; /* Inicialmente oculto */
  opacity: 1;
  transition: opacity 0.3s ease;
}

.relatorio-container, .section-manager {
  background-color: #f9f9f9;
  border-radius: 15px;
  padding: 5rem;
  margin: 2rem auto;
  max-width: 700px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.vendas-container h2, .relatorio-container h2, .section-manager h1 {
  font-size: 3rem;
  color: #644812;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
}

/* Labels */
.vendas-container form label,
.relatorio-container form label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #555;
  width: 100%; /* Garantindo alinhamento uniforme */
}

/* Inputs, Textareas, Selects e Botões */
.vendas-container form input, .relatorio-container form input,
.vendas-container form select, .relatorio-container form select,
.vendas-container form textarea, .relatorio-container form textarea,
.vendas-container form button, .relatorio-container form button {
  width: 100%; /* Largura igual para todos */
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1.4rem;
  outline: none;
  box-sizing: border-box; /* Garante que padding não afete a largura */
  transition: border-color 0.3s;
}



.vendas-container form button, .relatorio-container form button {
  background-color: #533a1d;
  color: white;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.vendas-container form button:hover, .relatorio-container form button:hover {
  background-color: #7a5a37;
}

/* Estilo da Section Manager */
.section-manager p {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  text-align: justify;
  max-width: 700px;
  margin: auto;
  padding: 1rem 0 3rem 0;
}

/* Responsividade */
@media (max-width: 768px) {
  .vendas-container, .relatorio-container, .section-manager {
    padding: 3rem;
    max-width: 90%;
  }

  .vendas-container h2, .relatorio-container h2, .section-manager h1 {
    font-size: 2.4rem;
  }
}
.form-section {
  display: none; /* Oculta a seção inicialmente */
  background-color: #f9f9f9;
  border-radius: 15px;
  padding: 5rem;
  margin: 2rem auto;
  max-width: 700px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.form-section h2 {
  font-size: 2.4rem;
  color: #644812;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}

/* Grupos de formulários */
.form-group {
  margin-bottom: 2rem;
}

/* Labels */
.form-section label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #555;
}

/* Inputs e Textareas */
.form-section input,
.form-section textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1.4rem;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s;
  background-color: #ffffff;
  
}

.form-section input:focus,
.form-section textarea:focus {
  border-color: #7a5a37;
}

/* Botão de envio */
.form-section button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #533a1d;
  color: #fff;
  font-size: 1.6rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-section button:hover {
  background-color: #7a5a37;
}

/* Responsividade */
@media (max-width: 768px) {
  .form-section {
    padding: 3rem;
    max-width: 90%;
  }

  .form-section h2 {
    font-size: 2rem;
  }

  .form-section input,
  .form-section textarea {
    font-size: 1.2rem;
  }

  .form-section button {
    font-size: 1.4rem;
  }
}
#recipePreviewsContainer:empty {
  display: none;
}

//saida receitas 
.recipes {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se ajustem em telas menores */
  justify-content: space-between;
  margin: 20px auto;
  max-width: 100%; /* Garante que o container principal não ultrapasse os limites */
}

.left-side,
.right-side {
  width: 100%; /* Garante largura total em telas menores */
  box-sizing: border-box; /* Inclui padding e bordas no tamanho */
  margin-bottom: 20px; /* Espaçamento inferior para os blocos */
}

@media (min-width: 768px) {
  .left-side {
    width: 40%; /* Ocupa 40% da largura em telas maiores */
  }

  .right-side {
    width: 60%; /* Ocupa 60% da largura em telas maiores */
  }
}

.left-side__photo {
  width: 100%; /* Faz a imagem ocupar todo o espaço disponível */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 8px;
}

.ingredients,
.prepare p {
  word-wrap: break-word; /* Quebra palavras longas */
  overflow-wrap: break-word; /* Suporte para navegadores modernos */
  line-height: 1.6; /* Espaçamento entre linhas */
  font-size: 1.2rem; /* Tamanho da fonte ajustável */
  max-width: 100%; /* Garante que não ultrapasse o limite do container pai */
}

.ingredients li {
  margin-bottom: 10px; /* Espaçamento entre os itens */
}

.prepare {
  margin-top: 20px; /* Adiciona espaçamento acima do modo de preparo */
}

.prepare p {
  white-space: pre-wrap; /* Preserva quebras de linha inseridas pelo chef */
}

.icon-recipe {
  font-weight: bold;
  display: block;
  margin-bottom: 5px; /* Espaçamento entre o título e o conteúdo */
  text-align: center; /* Centraliza o texto */
}

.status-recipe {
  display: flex;
  justify-content: space-around; /* Espaçamento uniforme entre os itens */
  margin: 20px 0; /* Espaçamento acima e abaixo do status */
  text-align: center; /* Centraliza o texto */
}

.time,
.nivel,
.rendimento {
  flex: 1; /* Faz os itens ocuparem o mesmo espaço */
  padding: 10px; /* Adiciona espaçamento interno */
}

.topic {
  display: block;
  margin-bottom: 10px; /* Espaçamento entre o título e o conteúdo */
}
