
.aboutme-photo{
  width: 100%;
  max-width: 83rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  .ebook-photo {
    max-width:550px;
   
    
    
  }
  .chef-formation{
 
    position:absolute;
    bottom: 0;
    left: 60%;

 
    width: 600px;


  }
  .chef-experience-photo{
    width: 500px;
 
  }
 
  .cta-ebook{
  margin-left: 5rem; 
  margin-top: 2rem;   

   
  }
  .ebook-description {
  max-width: 30vw;
   
  }
  .star-price{
    display: flex;
    flex-direction: column;
    padding: 0  0 2rem 5rem;
  }
  //fue main


//recipes

.section-recipes{
  padding: 15rem 20rem;

  h1{
    color: #1b1b1b;
  }
}

//cakes,html
.cake-img{
  padding: 0.5rem;

  max-width:500px;
  height:100%;
}