/* About the chef*/
.paragraph{
    font-size: 3rem;
  max-width: 40vw;
    padding: 3rem;
    font-weight: 100;
    
  
   
  
}
.paragraph-chef{
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;

 
  text-transform: uppercase;
  font-family:sans-serif; 
  color: #333;
  line-height: 1.5;


 
  

}
.experience-chef{
  font-size: 3rem;
  max-width: 50vw;
    padding-top: 2rem;
    font-weight: 100;
    text-align: start;
  

 
  

}

.heading-secondary {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family:  'Roboto', sans-serif; 
    background-color:  #DBD4AF; 
    display: inline-block;
    padding: 1.8rem;
    border-radius:5px;
  }
.heading-secondary-gray {
  background-color: #333333c6;
  color: #eae1cb;
  border-radius: 5px;
}
  .subheading {
    text-align: center;
    font-size:6rem;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: .75px;
    font-family:'Unica One', sans-serif;
    display: block;
  
    
   
  &--1{
   
    padding-left: 25vw;
    color:#eae1cb;
  }
  &--2{
   
    padding-left: 25vw;
    text-align: start;
    color: #808080;

  }
  &--3{
 
    padding-left: 25vw;
    text-align: start;
   
  }
  }
  .heading-form{
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    color: #333333;
  }

  