/* About the chef*/
.paragraph{
    font-size: 3rem;
  max-width: 40vw;
    padding: 3rem;
    font-weight: 100;

   @include respond (mobile){
max-width: 100vw; 
padding:4rem  4.5rem 3rem 4rem;  
font-size: 2rem;
text-align: left;
justify-content: space-evenly;


}
  
}
.historia-mobile{
  width: 100%;
}
//dispo moveis ebook descr
.ebookdesc{
max-width: 90vw;
font-size: 2rem;
text-align:left;
align-items: center;
justify-content: center;
}

.paragraph-receitas{
  padding: 3rem;
  
font-size: 2rem;
}
.paragraph-ebook{
  font-size: 2.5rem;
  font-weight: 100;
  height: 50vh;
  width: 80vw;
  background-color: #7f57e3;

 

}
.paragraph-chef{
  padding: 5rem;
  text-align: center;
  font-size: 3rem;

 
  text-transform: uppercase;
  font-family:sans-serif; 
  color: #333;
  line-height: 1.5;

  @include respond(mobile){
    padding:1rem;
    font-size: 2rem;

    
}
}
.experience-chef{
  font-size: 3rem;
  max-width: 50vw;
    padding-top: 2rem;
    font-weight: 100;
    text-align: start;
  

 
  

}

.heading-secondary {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family:  'Roboto', sans-serif; 
    background-color:  #DBD4AF; 
    display: inline-block;
    padding: 1.8rem;
    border-radius:5px;
  }
.heading-secondary-gray {
  background-color: #333333c6;
  color: #eae1cb;
  border-radius: 5px;
}
  .subheading {
    text-align: center;
    font-size:6rem;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: .75px;
    font-family:'Unica One', sans-serif;
    display: block;
   
  
    @include respond (mobile){
      font-size:3.2rem ;
    }
   
  &--1{
  

    color:#eae1cb;
    @include respond (mobile){
      font-size:3.2rem ;
    }
  }
  &--2{
   

   
    color: #808080;
    @include respond (mobile){
      font-size:3.2rem ;
    }
  }
  &--3{
    color: #000;
    @include respond (mobile){
      font-size:3.2rem ;
    }
  }

  }
  .heading-form{
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    color: #333333;}
 