/* About the chef*/


.experience-chef{
  font-size: 3rem;
  max-width: 50vw;
  padding-top: 2rem;
  font-weight: 100;
  text-align: start;

}

.heading-secondary {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 400;
    background-color:   #644812; 
    color:#f4eede;
    display: inline-block;
    padding: 1.8rem;
    border-radius:5px;
  }
.heading-secondary-gray {
  background-color: #333333c6;
  color: #eae1cb;
  border-radius: 5px;
}
  .subheading {
    text-align: center;
    font-size:4.5rem;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: .75px;
    font-family:'Unica One', sans-serif;
    display: block;
   
  
    
  &--1{
  

    color:#eae1cb;
    @include respond (mobile){
      font-size:3.2rem ;
    }
  }
  &--2{
   

   
    color: #808080;
    @include respond (mobile){
      font-size:3.2rem ;
    }
  }
  &--3{
    color: #000;
    @include respond (mobile){
      font-size:3.2rem ;
    }
  }

  }
  .heading-form{
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    color: #333333;
  }
