
//EBOOK MENU.HTML (MY-EBOOKS)
.container-my-ebooks{
    position: relative;
    height: 100vh;
    padding: 10rem;
    background-color:rgba(255, 235, 205, 0.794);

    
.ebook-content {
    width: 100%;

    .ebook-box {
     display: flex;
     flex-direction: column;
     align-items: center;
     width:390px;
     height:100%;
     position: relative;
     cursor: pointer;
     gap: 14rem;
  @include respond (mobile){
    display: flex;
    flex-direction: column;
  }
   .ebook-price{
    top: 90%;
    position: absolute;
    display: flex;
    flex-direction: column;
    
  .price{
    font-size: 32px;
    }

  .ebook-title{
    text-align: center;
    display: inline-block;
    font-size: 29px;
    text-decoration: none;
    padding: 3rem 0;
    color: #333;
    }

   }
   .ebook-photo-small,
   .ebook-photo-new {
     
     max-width: 400px;
     height: 100%;
     transition: transform 0.6s ease-in-out; /* Adicione uma transição suave na propriedade transform */
   }

   .ebook-photo-small {
     max-width: 400px;
     height: 100%;
   }
   .ebook-photo-new {
     display: none; /* Inicialmente, a nova imagem está oculta */
     position: absolute; /* Posicione a nova imagem absolutamente dentro da ebook-box */
     top: 0;
     left: 0;
     max-width: 400px; /* Ajuste conforme necessário */
     height: 100%;   
   }

   &:hover .ebook-photo-small {
     display: none;
   }

   &:hover .ebook-photo-new {
     display: block; /* Ao passar o mouse, exiba a nova imagem */
     overflow: hidden;
     animation-name: flash;
     animation-duration: 0.5s;
     animation-timing-function: ease-in-out;
   }
  
   .ebook-content{
       height: 100vh;
   }
  }
 }
}
.ebook-link{
    border: 1px solid rgba(0, 0, 0, 0.873);
}