.container-my-ebooks {
  height: 100%;
  width: 100vw;
  background-color: rgba(255, 235, 205, 0.794);
  padding: 2rem 20rem;

  @include respond(tab-land) {
    padding: 2rem;
  }
}

.ebook-content {
  width: 100%;
  height: 100%;
  padding: 3rem 0;

  @media (max-width: 841px) {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
  }
}

.ebook-box {
  width: 100%;
  position: relative;
  cursor: pointer;
  padding: 9rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 841px) {
    padding: 5rem 0;
  }

  .ebook-capa {
    width: 40vw;
  }

  .ebook-title {
    padding: 0 5rem;
    text-align: center;
    font-size: 29px;
    color: #333;
  }

  .price {
    font-size: 32px;
  }

  .ebook-price {
    position: absolute;
    top: 90%;
    display: flex;
    flex-direction: column;
  }

  .ebook-photo-small,
  .ebook-photo-new {
    max-width: 400px;
    transition: transform 0.6s ease-in-out;
  }

  .ebook-photo-new {
    display: none;
    position: absolute;
  }

  &:hover {
    .ebook-photo-small {
      display: none;
    }

    .ebook-photo-new {
      display: block;
      animation: flash 0.5s ease-in-out;
    }
  }

  /* Remover efeito de hover em telas menores */
  @include respond(tab-land) {
    &:hover {
      .ebook-photo-small {
        display: block;
      }

      .ebook-photo-new {
        display: none;
      }
    }
  }
}

.ebook-link {
  border: 1px solid rgba(0, 0, 0, 0.873);
}
