.container-history{
  
  height: 100vh;
padding: 5rem;
  display: flex;
  gap: 7rem;
  justify-content: space-around;
  align-items: center;
 

  &--text{
     text-align: center;

 
   
   
   
  }

  &--photo{

    padding-top: 5rem;
   
  }

}
.formation {
  height: 68vh;
  position: relative;
  background-color:antiquewhite;
  
}