.container-history{
  height: 100%;
padding: 5rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;

  &--text{
     text-align: center;
   
  }

  &--photo{
    padding-top: 5rem;
  }
}