//SECTION MAIN
.section-main {
  height: 85vh;
  width: 100%;
  margin: 0;


  .section-main__photo{
      
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-image: linear-gradient(
        to right bottom,
        rgba(103, 102, 98, 0.765), /* Black with 70% opacity */
        rgba(19, 15, 15, 0.938) /* Medium gray with 50% opacity */
      );
}
 
  .header__text-box{
    position: absolute;
    top: 60%;
    left: 48%;
    transform: translate(-50%,-50%);
 
    }
    .heading-primary {
      align-items: center;
      text-align: center;
      display: block;
      color:#333333;
      text-transform: uppercase;
  
      backface-visibility: hidden;
      margin-bottom: 14rem;
      font-family:  'Roboto', sans-serif; 

      &--main {
        display: block;
        font-size:7rem;
        font-weight:900;  
        letter-spacing: .85rem;
        padding-bottom: 1rem;
    
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        color:#696565c5;
        @include respond(mobile){
          font-size: 3.5rem;
        }
      }
  
      &--sub{
      display: block;
      font-size: 3rem;
     
      font-weight: 900;
      letter-spacing: 1.5rem;
   
      animation:moveinRight 2s ease-out;
      position: relative;
      color:#545252a4;
      @include respond(mobile){
        font-size: 1em;
        letter-spacing: 0.5rem;
        color: #333333bb;
      }
      }
    }
}


//SECTION ABOUT-ME
.section-aboutme{
 padding: 10rem;
 height: 70vh;


  &__content{
   position: relative;
   height: 100%;
   display:flex;
   flex-direction: row;
   align-items: center;
 background-color:rgb(247, 244, 234);

   border-radius: 13px;
   margin: 5rem;
 
 
  }
  &__left-side{
  position: absolute;
  left: 50vw;
  width: 550px;

    }
  &__right-side{
  position: absolute;
  left: 50;
  width: 50vw;
  background-color: #e2d8a8;
  }
  @include respond(mobile) {

    
    &__content {
   display: flex;
   flex-direction: column;
     
margin-top: 8rem;    }

   
    &__right-side {
      background-color: #d0a8e2;
      position: static;
      width: 100%;
      margin: 0;
    }
    &__left-side {
      height: 100%;
      display: inline;
    }

  }
}
//SECTION-CREATIONS

.section-creations {
  height: 100%;
  padding: 10rem 0 0 0;

  &__heading {
      padding: 15rem 0;
      display: flex;
      flex-direction: row;
      position: relative;

      .designer {
          position: absolute;
          left: 26%;
          top: 60%;
          max-width: 12%;
      }

      .designer2 {
          position: absolute;
          left: 59%;
          top: 60%;
          max-width: 12%;
      }

      .title-creations {
          position: absolute;
          top: 95%;
          left: 50%;
          transform: translate(-50%, -50%);
         
    
      }
  }

  &__gallery {
      display: grid;
      padding: 15rem 0 0 0;
      gap: 3rem;
      @include respond(mobile) {
        gap: 0;
        display: flex;
        flex-direction: column;
      }
      .gallery-link {
          text-decoration: none;
          color: inherit;
          transition: transform 0.3s;
          display: block;
          overflow: hidden;
          text-align: center;

          .gallery-item {
              overflow: hidden;
              position: relative;
              transition: all 0.3s;

              img {
                  display: block;
                  width: 100%;
                  height: 100%;
                  transition: all 0.4s;
              }

              &:hover {
                  transform: scale(1.1);
              }

              .gallery-box-description {
                  position: absolute;
                  padding: 0;
                  top: 40%;
                  left: 0;
                  font-size: 4.5rem;
                  text-decoration: none;
                  text-transform: uppercase;
                  color: #f0ebeb;
                  width: 100%;
                  height: 100%;
                  font-family: 'Montserrat', sans-serif;
                  transition: opacity 0.1s;
                  font-weight: 400;
                  opacity: 0;
                  @include respond (mobile){
                    font-size: 2.5rem;
                  }
              }

              &:hover .gallery-box-description {
                  opacity: 1;
                  position: absolute;
              }

              &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  width: 100%;
                  background-image: linear-gradient(
                      to right bottom,
                      rgba(86, 82, 82, 0.419),
                      rgba(19, 18, 18, 0.699)
                  );
                  opacity: 0;
              }

              &:hover::before {
                  margin: 0 auto;
                  opacity: 1;
                  transform: scale(1.1);
              }
          }

          &.no-background .gallery-item::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              background-image: none; /* Remova o background image */
              opacity: 0;
          }

          &.no-background .gallery-item:hover::before {
              margin: 0 auto;
              opacity: 1;
              transform: scale(1.1);
          }

          .icon-creation {
              font-size: 3.5rem;
              position: absolute;
              top: 10%;
              left: 46%;
              font-size: 4rem;
              display: inline-block;
          }
      }
  }
  @include respond(mobile) {
  

    .gallery-link {
     
      .gallery-item {
        transform: none;
        transition: none;
       

        &:hover {
          transform: none;
        }

        .gallery-box-description {
          opacity: 0;
          transition: none;
          @include respond(mobile) {
            opacity: 1; // Sempre visível em dispositivos móveis
          }
        }

        &:hover::before {
          opacity: 0;
          transform: none;
        }
      }
    }
  }

}

//ebook-section
.ebook{
  height: 75vh;
  width: 100vw;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-evenly;
@include respond(mobile){
 height: 100%;
  display: flex;
  flex-direction: column;
  
}
.ebook-photo{
  height: 65%;
  width: 40vw;
@include respond(mobile){
  width: 70vw;
}
}

.ebook-text{
  font-family:  sans-serif;
  text-align: center;
  width: 100%;
  @include respond (mobile){
    width:100%;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-34%,10%);
    width: 360px;

  }
 }
 .ebook-left{
@include respond(mobile){
  padding-right: 2rem;
    display: inline-block;
    padding-top: 3.5rem;

  }

 }
 .icon-ebook{
  display: flex;
  flex-direction: row;
  padding: 1rem;
justify-content: center;
}
}

//menu.html
.section-menu{
  padding: 15rem;
  height: 100vh;
  .menu{
    width: 60vw;
    height: 100%;

  }
.box-menu{
  width:70px;
}
}
//.container-cake

.container-cake{
  justify-content: center;
  align-items: center;
  text-align: center;
}
//form
//crea choc
/* Adicione estilos para o modal e os botões de navegação *///
///SECONDGALLERY MODAL

.btn-main{
  
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  margin-top: 2rem;
  background-color: #e2d8a8;
  color: #333;
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  border-radius: 9px;
  font-size: 22px;
  @include respond (mobile){
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    padding: 1.3rem 2rem;
    
 }
}

.btn-main:hover{
  background-color: #e7d593;
}
.btn-about{
 
 position: absolute;
  
}