//SECTION MAIN
.section-main {
  height: 95vh;
  width: 100%;

  margin: 0;


  .section-main__photo{
      
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-image: linear-gradient(
        to right bottom,
        rgba(103, 102, 98, 0.765), /* Black with 70% opacity */
        rgba(19, 15, 15, 0.938) /* Medium gray with 50% opacity */
      );
}
 
  .header__text-box{
    position: absolute;
    top: 60%;
    left: 48%;
    transform: translate(-50%,-50%);
 
    }
    .heading-primary {
      align-items: center;
      text-align: center;
      display: block;
      color:#333333;
      text-transform: uppercase;
  
      backface-visibility: hidden;
      margin-bottom: 6rem;
      font-family:  'Roboto', sans-serif; 

      &--main {
        display: block;
        font-size:6rem;
        font-weight:900;  
        letter-spacing: .85rem;
        padding-bottom: 1rem;
    
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        color:#dbd4af;
      }
  
      &--sub{
      display: block;
      font-size: 3rem;
     
      font-weight: 900;
      letter-spacing: 1.5rem;
   
      animation:moveinRight 2s ease-out;
      position: relative;
      color:#DBD4AF;
      }
    }
}


//SECTION ABOUT-ME
.section-aboutme{


 height: 80vh;
 padding: 15rem 10rem 5rem 10rem;

  &__content{
   position: relative;
   height: 100%;
   display:flex;
   flex-direction: row;
   align-items: center;
  }
  &__left-side{
  position: absolute;
  width: 50%;
    }
  &__right-side{
  position: absolute;
  left: 50%;
  width: 50%;
  background-color: #e2d8a8;
  }

}

//SECTION CREATIONS
.section-creations {
 height: 100%;
 padding: 10rem 0 0 0;
.heading-creation{
  padding: 15rem 0;
  display: flex;
  flex-direction: row;

  position: relative;
}
.designer{
 
position: absolute;
  left: 26%;
  top: 60%;
   max-width: 12%;
 
}
.designer2{
  position: absolute;
  left: 59%;
  top: 60%;
   max-width: 12%;

}
.title-creations{
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%,-50%);
  

}
  .section-creations__gallery{
    
    display: grid;
    padding: 15rem 0 0 0; 
    gap: 3rem;
    
  }
 
 
  .gallery-link {
      text-decoration: none;
      color: inherit;
      transition: transform 0.3s;
      display: block;
      overflow: hidden;
      text-align: center;
  }
  .gallery-item {
      overflow: hidden;
      position: relative;
      transition: all 0.3s;
  }

  .gallery-item img {

      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.4s;
  }
 .gallery-item:hover{
  transform: scale(1.1);

 }

  .gallery-box-description {
      position: absolute;
      padding: 0;
      top: 40%;
      left:0;
      font-size: 4.5rem;
      text-decoration: none;
      text-transform: uppercase;
      color: #f0ebeb;
    
      width: 100%;
      height: 100%;
 
    
      font-family: 'Montserrat', sans-serif;
      transition: opacity 0.1s;
      font-weight: 400;
      opacity: 0;
     
  }

  .gallery-link:hover .gallery-box-description {
      opacity: 1;
      position: absolute;
  }

.gallery-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(86, 82, 82, 0.419),
      rgba(19, 18, 18, 0.699)
  );
  opacity: 0;
}

.gallery-item:hover::before {
  margin: 0 auto;
  opacity: 1;
  transform: scale(1.1);
}

.no-background .gallery-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: none; /* Remova o background image */
  opacity: 0;
}

.no-background .gallery-item:hover::before {
  margin: 0 auto;
  opacity: 1;
  transform: scale(1.1);  
}

.icon-creation{
  font-size: 3.5rem;
  position: absolute;
  top: 10%;
  left: 46%;
  font-size: 4rem;
  display: inline-block;
 }
}

//ebook-section
.ebook{
  height: 100vh;
  width: 100vw;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-evenly;

.ebook-photo{
  height: 65%;
  width: 40vw;
}

.ebook-text{
  font-family:  sans-serif;
  text-align: center;
  width: 100%;
 }
}

//menu.html
.section-menu{
  padding: 15rem;
  height: 100vh;
  .menu{
    width: 60vw;
    height: 100%;

  }
.box-menu{
  width:70px;
}
}
//.container-cake

.container-cake{
  justify-content: center;
  align-items: center;
  text-align: center;
}
//form
//crea choc
/* Adicione estilos para o modal e os botões de navegação *///
///SECONDGALLERY MODAL

.btn-main{
  
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  margin-top: 2rem;
  background-color: #dbd4af;
  color: #333;
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  border-radius: 9px;
  font-size: 22px;
  
}
.btn-main:hover{
  background-color: #e2d8a8;
}
.btn-about{
 
 position: absolute;
  
}