//SECTION MAIN
.section-main {
  position: relative;

  height: 75vh;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: url("/img/base/wd.png")center/cover no-repeat;
  background-size: cover;
  z-index: 1;
  filter: brightness(0.9) contrast(0.9) saturate(0.9); /* Filtro para tons suaves */

@include respond(tab-land){
    background: url("/img/base/\ nome-16.png")center/cover no-repeat;
    background-size: cover;
    height: 60vh;

  }
 
  /* Filtro pastel na imagem de fundo */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(82, 82, 78, 0.142); /* Suaviza com um tom pastel */
    mix-blend-mode: overlay; /* Mistura as cores */
    z-index: 2;
  }

 
  

  

}

.section-main__photo {
  display: none; /* Oculta o elemento de imagem separado */
}

.header__text-box {
  position: relative;
  text-align: center;
  z-index: 2; /* Mantém o texto acima do gradiente */
  padding-top: 10rem;
}

/* Estilização adicional para o texto */
.heading-primary {
  color: #333333;
  text-transform: uppercase;
  backface-visibility: hidden;
  font-family: 'Roboto', sans-serif;

  &--main {
    display: block;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: .25rem;
    color:rgb(237, 244, 206);
    z-index: 9999;
  }

  &--sub {
    display: block;
    font-size: 3rem;
    color:rgba(246, 247, 223, 0.996);
    font-weight: bolder;
    letter-spacing: 1rem;
    font-family: 'Unica One', sans-serif;
  }
}



//SECTION ABOUT-ME chef
.section-aboutme{
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 10rem;
position: relative;
  .recipe-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

// Sobreposição de cor

  
  @include respond(tab-port){
    padding-top: 10rem 15rem 0 15rem;
    text-align: center;
  }

  &__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
@include respond(tab-port){
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: center;
}
.paragraph strong {
  font-weight: bold; /* Destaca o texto em negrito */
  color: #644812; /* Cor diferenciada para ênfase */
  font-size: 1.5em; /* Aumenta o tamanho da fonte especificamente para o strong */
}
  }

  .chefmain{
    max-width:500px;
    padding:0rem 3rem 3rem  3rem;
    height: auto;
    border-radius: 8px;
    @include respond(tab-land){
      width: 50vw;
     }
     @include respond(tab-port){
      width: 95vw;
     }
    @include respond(mobile){
     width: 90%;
   
    }
  }
.paragraph--chef{
  color: #201f1f;
  max-width:40vw ;
  display: block;
  padding-bottom: 20rem;
  text-align: start;
  .subheading{
   color:#0e0e0d;
   text-align: left;
   @include respond(tab-port){
    text-align: center;
   }
  }
  @include respond(tab-port){
    max-width:80vw;
    text-align: center;
    padding: 0;
  }
}
}
//SECTION-CREATIONS


.section-creations {
  height: 100%;


  &__heading {
      padding: 10rem 0;
      display: flex;
      flex-direction: row;
      position: relative;
      
        @include respond(mobile){
          padding: 6rem;
        }


      .title-creations {
          position: absolute;
          top: 95%;
          left: 50%;
          transform: translate(-50%, -50%);
       
  
          
      }
  }

  &__gallery {
      display: grid;
      padding: 15rem 0 0 0;
      gap: 0.5rem;
      @include respond(mobile) {
        display: flex;
        flex-direction: column;
      }
    @include respond(tab-port){
      gap: 0;
    }
      .gallery-link {
        height: 100%;
        background-color: aliceblue;
   
          text-decoration: none;
          color: inherit;
          transition: transform 0.3s;
          display: block;
          overflow: hidden;
          text-align: center;
      
          .gallery-item {
              overflow: hidden;
              position: relative;
              transition: all 0.3s;
              width: 100%;
              margin:0;
            


              img {
                  display: block;
                  width: 100%;
                  height: 100%;
                  transition: all 0.4s;
                  object-fit: cover;
              }

              &:hover {
                  transform: scale(1.1);
              }

              .gallery-box-description {
                  position: absolute;
                  padding: 0;
                  top: 40%;
                  left: 0;
                  font-size: 4.5rem;
                  text-decoration: none;
                  text-transform: uppercase;
                  color: #f0ebeb;
                  width: 100%;
                  height: 100%;
                  font-family: 'Montserrat', sans-serif;
                  transition: opacity 0.1s;
                  font-weight: 400;
                  opacity: 0;
                  @include respond (mobile){
                    font-size: 2.5rem;
                  }
                  @include respond(tab-port){
                    font-size: 3rem;

                  }
              }

              &:hover .gallery-box-description {
                  opacity: 1;
                  position: absolute;
              }

              &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  width: 100%;
                  background-image: linear-gradient(
                      to right bottom,
                      rgba(249, 236, 236, 0.419),
                      rgba(19, 18, 18, 0.699)
                  );
                  opacity: 0;
              }

              &:hover::before {
                  margin: 0 auto;
                  opacity: 1;
                  transform: scale(1.1);
              }
          }

          &.no-background .gallery-item::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              background-image: none; /* Remova o background image */
              opacity: 0;
          }

          &.no-background .gallery-item:hover::before {
              margin: 0 auto;
              opacity: 1;
              transform: scale(1.1);
          }

          .icon-creation {
              font-size: 3.5rem;
              position: absolute;
              top: 10%;
              left: 46%;
              font-size: 4rem;
              display: inline-block;
          }
      }
  }
  @include respond(mobile) {

    .gallery-link {
     
      .gallery-item {
        transform: none;
        transition: none;
       

        &:hover {
          transform: none;
        }

        .gallery-box-description {
          opacity: 0;
          transition: none;
          @include respond(mobile) {
            opacity: 1; // Sempre visível em dispositivos móveis
          }
        }

        &:hover::before {
          opacity: 0;
          transform: none;
        }
      }
    }
  }
 

}

//ebook-section
.ebook{
 height: 75vh;
 display: flex;
 flex-direction: row;
 align-items: center;
 text-align: center;
 justify-content: space-evenly;
 padding: 2rem 25rem;
@include respond(tab-land){
  padding: 2rem 5rem;
}
@include respond(tab-port){
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
  text-align: center;
}
@include respond(mobile){
  height: 100%;
  padding: 3rem  0;
}

.ebook-photo{
  height: 65%;
  width: 100%;
}

.ebook-text{
  font-family:  sans-serif;
  text-align: center;
  width: 100%;
 }

 .ebook-description{
  max-width: 50%;
  padding: 2rem;
  
@include respond (tab-port){
  max-width: 80%;
}
}
 .icon-ebook{
  display: flex;
  flex-direction: row;
justify-content: center;
}
}

//menu.html
.section-menu{
  padding: 15rem;
  height: 100vh;
  .menu{
    width: 60vw;
    height: 100%;

  }
.box-menu{
  width:70px;
}
}
//.container-cake

.container-cake{
  justify-content: center;
  align-items: center;
  text-align: center;
}
//form
//crea choc
/* Adicione estilos para o modal e os botões de navegação *///
///SECONDGALLERY MODAL


.btn-about{
 
 position: absolute;
  
}