
//SECTION MAIN RECIPE index.html
.recipe{
    position: relative;
    
    padding:20rem 5rem  10rem 5rem;
    height: 90vh;
   
background-color: #333333e0;
color:beige;

.patterns-recipe{
    position: absolute;
   
    top: 12%;
    left: 12%;
    z-index: 1;
    .designer{
        width: 180px;
    }
 
  
  }

.patterns-recipe-right{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    right: -8.8%;
    top:41%;
    .designer--1{
        height:50vh;
     }
     .designer--2{
         height: 50vh;
     }
}
.recipe-primary-title{
    color:#fae5d3;
    text-align: center;
    font-size:6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .75px;
    font-family:'Unica One', sans-serif;
    display: block;
    border-bottom: 2px solid rgb(255, 255, 255);
    display: inline-block;
    
    
 
    
   

}
.star{
    color: #DBD4AF;
}
    &__container{
        position: relative;
        display: flex;
        justify-content: space-evenly;

    }
    &__imagem{
        max-width: 400px;
        border-radius: 3px;
      
    }
    &__title{
        position: absolute;
        top:50%;
        left:16%;
        border-radius: 6px;
        font-size: 21px;
        font-weight: 600;
        color:#333 ;
        
    }
    &__description{
        max-width:400px;
        font-size: 21px;
    }
    &__creator{
        font-size: 14px;
        text-transform: uppercase;
        padding: 1rem 0;
        line-height: 2;

    }
    &__card{
        position: relative;
      justify-content:space-evenly;
    }
    
}



// 2 page chocolatquent.html

.recipes{


    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
   
    padding: 15rem;
    text-align: center;  
    align-items: center;
  
  
   
   
  

 .left-side{
max-width: 50vw;

    .left-side__photo{
        width: 80%;
        border-radius: 8px;
    
    }
    .left-side__title{
        font-size: 6rem;
        font-weight: 200;
        text-align: center;
       

       
    }
    .left-side__subheading{
  
        
        padding: 2rem 0;
     
        font-size: 18px;
        text-transform: uppercase;
       text-align: left;
       padding-left: 10rem;
      
        
       
    
    
    }
    
 }

   .right-side{
    max-width: 50vw;
   
    .status-recipe{
       width: 100%;
        display: flex;
        flex-direction: row;
       
        justify-content: space-between;
      
       
        padding: 5rem 0;
       
        .time,.nivel,.rendimento{
            font-size:21px;
            width: 250px;
            padding: 4rem 0;
            background-color:#dbd4af86;
            display: flex;
            flex-direction: column;
           
           
           
       
            
            
    
        }
.icon-recipe{
    color: rgb(182, 62, 62);
}
     

    }
   


.paragraph{
    font-size: 2rem;
    width: 50vw;
    text-align: start;

}
.topic{
    padding:0.5rem ;
    background-color: #DBD4AF;
    text-transform: uppercase;
    font-size: 21px;
    display: block;
    text-align: start;
    font-weight: 600;
    color:  rgb(146, 38, 38);
}

.ingredients{
    padding:1rem 0 5rem 2rem;
   
}
.prepare{
 
    display: flex;
    flex-direction: column;
    gap: 3rem;
  

}
}
}
//all recipes
.container-all-recipes{
    padding: 10rem;

}