

.section-recipe{
    position: relative;
    height: 75vh;
    color:beige;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    text-align: center;
    padding:2rem 15rem;
justify-content: center;

 // Imagem de fundo
 .recipe-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

// Sobreposição de cor
background-image: linear-gradient(
    to right bottom,
    rgba(51, 51, 51, 0.8), /* Cor de sobreposição */
    rgba(29, 29, 29, 0.6)
);

    @include respond(tab-land){
        padding: 5rem;
        height: 55vh;
    }
    @include respond(tab-port){
        padding:5rem 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        flex-direction: column-reverse;
    
        
    }
    .recipe-card{
text-align: center;
        .recipe-creator{
            font-size: 2em;
            font-weight: 400;
        }

     .recipe-image{
        display: block;
     
max-width: 380px;
@include respond(tab-land){
    max-width: 300px;


 }
 @include respond(tab-port){
    max-width: 250px;
    margin: 0 auto;

 }
     } 

    }
.recipe-cta{
    padding: 2rem;
  max-width: 60vw;
  text-align: center;
  max-width: 40vw;
  @include respond(tab-port) {
    order: 1; // Move o .recipe-cta para ficar acima do .recipe-card
    max-width: 80vw;
}
.paragraph{
text-align: center;    
}

 
}
.recipe-open{
    display: inline-block;
}
}


// 2 page chocolatquent.html

.recipes{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
   padding-top: 5rem;
    text-align: center;  
    align-items: center;
    justify-content: space-evenly;

   
   
  @include respond(mobile){
    padding:3.5rem;
    text-align: center;
    gap: 0;
  }

 .left-side{
max-width: 50vw;
@include respond(mobile){
    max-width: 80vw;
}
    .left-side__photo{
        width: 80%;
        border-radius: 8px;
    
    }
    .left-side__title{
        font-size: 6rem;
        font-weight: 200;
        text-align: center;
       @include respond(mobile){
        font-size: 3.5em;
        width: 100%;
        display: inline;

        
       }

       
    }
    .left-side__subheading{
  
        
        padding: 2rem 0;
     
        font-size: 18px;
        text-transform: uppercase;
       text-align: left;
       padding-left: 10rem;
      
       @include respond(mobile){
        padding: 2rem;
        width: 80vw;
    }
       
    
    
    }
  
 }

   .right-side{
    max-width: 50vw;
   @include respond(mobile){
    max-width: 90vw;
    padding: 0;
   }
    .status-recipe{
       width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5rem 0;
       @include respond(mobile){
        width: 80vw;
        text-align: center;
     
       }
        .time,.nivel,.rendimento{
            font-size:21px;
            width: 250px;
            padding: 4rem 0;
            background-color:#dbd4af86;
            display: flex;
            flex-direction: column; 
            @include respond(mobile){
                padding:rem;
            } 
        }
.icon-recipe{
    color: rgb(182, 62, 62);
}
    }
.paragraph{
    font-size: 2rem;
    width: 50vw;
    text-align: start;
@include respond(mobile){
    width:80vw;
}
}
.topic{
    padding:0.5rem ;
    background-color: #DBD4AF;
    text-transform: uppercase;
    font-size: 21px;
    display: block;
    text-align: start;
    font-weight: 600;
    color:  rgb(146, 38, 38);
}

.ingredients{
    padding:1rem 0 5rem 2rem;
   
}
.prepare{
 
    display: flex;
    flex-direction: column;
    gap: 3rem;
  

}
}
}
//all recipes
.container-all-recipes{


    height: 70vh;
    padding: 5rem;
    align-items:center;

    display: flex;
    flex-direction: row;
    gap: 0;

    
.recipe__card{
    min-width: 30vw;
    .paragraph{
        padding: 0;
        max-width: 300px;
        text-align:start;
        font-size: 2rem;
    }
    .title-recipe{
        font-weight:600;
        color: #333;
        padding-bottom: 2rem;
    }
   .recipe__image{
        max-width: 350px;
        }  
        .recipe__link{
            font-size: 1.5rem;
            
       
        }
       
        
}



}